body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #f8f8f8;
  color: #333;
}

.container {
  max-width: 1200px;
  width: auto;
  margin: 100px auto;
  padding: 20px;
  gap: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section {
  max-width: 1200px;
  width: auto;
  align-items: flex-start;
}

.section-header {
  max-width: 1200px;
  width: auto;
  display: flex;
  justify-content: space-between;
}

.section-body {
  max-width: 1200px;
  width: auto;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.schedule {
  width: 1200px;
  height: 30px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  background-color: #7edec1;
  border-radius: 10px;
}
.time {
  width: 300px;
  
}
.todo {
  width: auto;
}
td {
}






h1 {
  text-align: center;
  margin-bottom: 30px;
}

.schedule-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
}

.schedule-table thead th {
  text-align: left;
  padding: 10px 15px;
  background-color: #2ec4b6;
  color: white;
  border-radius: 10px;
}

.schedule-table tbody tr {
  background-color: #a1e9df;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.schedule-table tbody tr:hover {
  background-color: #88d9cc;
}

.schedule-table td {
  padding: 12px 15px;
  border-radius: 10px;
}
